<th:block th:fragment="header">
  <div class="junto-header">
    <a class="junto-brand" data-pjax th:href="@{/}" th:aria-label="${site.title}">
      <span class="junto-brand-mark"></span>
      <span th:text="|${site.title} / BLUE ARCHIVE|">JUNTO / BLUE ARCHIVE</span>
    </a>
    <th:block th:replace="~{module/header/menu}" />
    <div class="junto-tools">
      <button
        th:if="${theme.config.general.top_search and pluginFinder.available('PluginSearchWidget')}"
        class="junto-search-button"
        type="button"
        data-junto-command-open
      >
        SEARCH ⌘K
      </button>
      <span class="junto-clock">SGT <b data-junto-clock>00:00:00</b></span>
      <button class="junto-menu-toggle" type="button" data-junto-menu>INDEX +</button>
    </div>
  </div>
</th:block>
