<li class="menu-item" th:classappend="|menu-item-${menuItem.metadata.name}|" th:fragment="menu-item(menuItem)">
  <a
    data-pjax
    th:href="@{${menuItem.status?.href}}"
    th:target="${menuItem.spec.target?.value}"
    aria-label="navigate to the target menu"
  >
    <span th:text="${menuItem.status.displayName}"></span>
  </a>
  <ul th:if="${not #lists.isEmpty(menuItem.children)}" class="sub-menu">
    <th:block th:each="child : ${menuItem.children}">
      <th:block th:replace="~{module/header/menu-item :: menu-item(${child})}" />
    </th:block>
  </ul>
</li>
